.list {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}

.list__item {
  margin-bottom: 12px;
  position: relative;

  &:hover .task__delete-button,
  &:hover .options-button__dot {
    opacity: 0.8;
  }

  &:active .task__delete-button,
  &:hover .options-button__dot {
    opacity: 1;
  }
}
