.delete-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  opacity: 0;
  background-color: transparent;
  color: var(--color-china-pink);
  cursor: pointer;

  &:active {
    opacity: 1;
  }
}
