.content {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  background-color: var(--color-nyanza-pale);
}

.content__heading {
  text-align: center;
  font-size: 24px;
}
